@mixin flex {
  display: flex;
  flex-direction: row;
}
@mixin img-header {
  width: 100%;
}
@mixin img-gallery {
  width: 49%;
}
@mixin muli-nav {
  font-family: $primaryFont;
  font-size: 46px;
}
@mixin muli-regular {
  font-family: Muli;
  font-size: 32px;
}
